* {
    margin: 0;
    padding: 0;
}
.grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 25vh 25vh 47.5vh;
    grid-gap: 10px;
    background-color: black;
}
.grid_item1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    background-image: url("../images/01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.grid_item2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row: 1;
    background-image: url("../images/02.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.grid_item3 {
    grid-column:3;
    grid-row:2;
    background-image: url("../images/03.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.grid_item4 {
    grid-column: 1;
    grid-row: 3;
    background-image: url("../images/04.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.grid_item5 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row: 3;
    background-image: url("../images/05.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.grid_item6 {
    grid-column: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    background-image: url("../images/06.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
